@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.f {
    background-color: teal;
}

.f-title {
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin: 25px;
    font-family: 'Montserrat', sans-serif;
}

.iframe-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Responsive design for mobile devices */
@media (max-width: 768px) {
    .f-title {
        font-size: 30px;
        margin: 15px;
    }

    .iframe-container {
        height: auto;
        padding: 20px;
        margin: 20px;
    }
}

@media (max-width: 480px) {
    .f-title {
        font-size: 25px;
        margin: 10px;
    }

    .iframe-container {
        height: auto;
        padding: 10px;
        margin: 10px;
    }
}