@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.f {
    background-color: teal;
}

.f-title {
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin: 25px;
    font-family: 'Montserrat', sans-serif;
}

.iframe-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

