@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.tutorials {
    background-color: teal;
}

.tutorials-title {
    color: white;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.about-exam{
    font-size: 30px;
    padding: 25px;
    text-align: center;
    font-weight: bold;
    color: black;
}
