@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.tutorials {
    background-color: teal;
}

.tutorials-title {
    color: white;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.about-exam{
    font-size: 40px;
    padding: 25px;
    text-align: center;
    font-weight: bold;
    color: black;
}


/* Responsive design for mobile devices */
@media (max-width: 768px) {
    .tutorials-title {
        font-size: 50px;
    }

    .about-exam {
        font-size: 20px;
        padding: 15px;
    }
}

@media (max-width: 480px) {
    .tutorials-title {
        font-size: 40px;
    }

    .about-exam {
        font-size: 18px;
        padding: 10px;
    }
}