@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.backend {
    background-color: teal;
}

.backend-title {
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin: 20px;
    font-family: 'Montserrat', sans-serif;
}

.exam {
    color: white;
    padding-left: 10px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}

.exam-content{
    color: black;
    font-size: 25px;
    padding-left: 10px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.button {
    padding: 30px;
    text-align: center;
}

.button-title{
    color: white;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
}