@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Logo Styles */
.logo {
    height: 70px;
    width: 100px;
    border-radius: 10%;
    border: 2px solid teal;
}

/* Navbar Styles */
.NavBar {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-top: 1px solid #383838;
    background-position: top;
    z-index: 105;
}

/* Centering Navigation Links */
.navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Styling for Navigation Links */
.navbar-nav .nav-link {
    color: black;
    font-weight: bold;
    text-decoration: none;
    margin: 0 25px; /* Adjust spacing */
    font-family: 'Montserrat', sans-serif;
}


/* Add underline on hover */
.nav-link:hover {
    border-bottom: solid teal;
}


/* Responsive Design */
@media (max-width: 768px) {
    .NavBar {
        flex-direction: column;
        padding: 10px;
    }

    .navbar-nav {
        flex-direction: column;
        align-items: center;
    }

    .navbar-nav .nav-link {
        margin: 10px 0; /* Adjust spacing for mobile */
    }
}